<li class="nav-item">
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Obras
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" asp-controller="Obras" asp-action="Index">Procurar</a>
            <a class="dropdown-item" asp-controller="Obras" asp-action="Create">Adicionar uma obra</a>
        </div>
    </div>
</li>
<li class="nav-item">
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Nucleos
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" asp-controller="Nucleos" asp-action="Index">Lista de núcleos</a>
            <a class="dropdown-item" asp-controller="Nucleos" asp-action="Create">Adicionar um núcleo</a>
        </div>
    </div>
</li>
<li class="nav-item">
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Roles
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" asp-controller="Role" asp-action="Index">Lista de funções</a>
            <a class="dropdown-item" asp-controller="Role" asp-action="Create">Adicionar uma função</a>
        </div>
    </div>
</li>