@model Leitor
<li class="nav-item">
    <a class="nav-link text-dark">@Model.UserName</a
</li>
<li class="nav-item">
    <a class="btn btn-outline-dark" asp-controller="Account" asp-action="Logout">Logout</a>
</li>