@model ObrasViewModel
@if (TempData["ErrorMessage"] != null)
{
    <div class="text-danger">@TempData["ErrorMessage"]</div>
}
@if (Context.Session.Keys.Contains("nucleo"))
{
    <h2><a data-toggle="collapse" href="#pesquisa">Pesquise por uma obra:</a></h2>
    <div class="collapse" id="pesquisa">
        <form asp-action="Search">
            <div class="form-group">
                <label asp-for="SearchTitulo">Titulo</label>
                <input asp-for="SearchTitulo" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="SearchAutor">Autor</label>
                <input asp-for="SearchAutor" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="SearchAno">Ano de Publicação</label>
                <input asp-for="SearchAno" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Procurar</button>
        </form>
    </div>
}
else
{
    <h2>As nossas obras</h2>
    <p>Para poder fazer requisições e pesquisar por uma obra, selecione um núcleo primeiro.</p>
}
<div class="container d-flex">
    @foreach (var obra in Model.Obras)
    {
        var obraNumCopias = new ObraCopiasViewModel
        {
            Obra = obra,
            NumCopias = Model.NumCopias[obra.Id]
        };
        <partial name="_ObraCard" model="@obraNumCopias" />
    }
</div>