@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<SelectListItem>

<div class="text-center">
    <h1 class="display-4">Bem vindo. Selecione o seu nucleo:</h1>
    <form method="post">
        <select class="form-control mb-3" name="nucleo" asp-items="@Model"></select>
        <button class="btn btn-primary"type="submit">Guardar</button>
    </form>
</div>
